<%= @player_1.name %> vs. <%= @player_2.name %><br>
<%= @player_1.name %> has <%= @player_1.hp %> HP.<br>
<%= @player_2.name %> has <%= @player_2.hp %> HP.<br>
<br>
<form action="/player_1_attacks">
  <% if @turn == 0 %>
    <input type="submit" value="Attack player 2">
  <% elsif @turn == 1 %>
    <input type="submit" value="Attack player 1">
  <% end %>
</form>
